          <div class="certs">
            <h2>Professional Certificates</h2>
            {% if site.certs != blank -%} 
            {%- assign certs_size = site.certs | size -%}
            <div class="table-responsive" {% if site.certs_scrollable and certs_size > 3 %}style="max-height: 10vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign certs = site.certs | reverse -%}
              {% if site.certs_limit %}
              {% assign certs_limit = site.certs_limit %}
              {% else %}
              {% assign certs_limit = certs_size %}
              {% endif %}
              {% for item in certs limit: certs_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="certs-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No certs so far...</p>
          {%- endif %} 
          </div>
